
    <div id ="menu" class="menu menu_display">
        <ul>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/posts/create/">New Posts</a></li>
            <li><a href="/users/create/">Create Users</a></li>
        </ul>
    </div>
